@import "../../assets/colors";
@import "../../assets/dimensions";

.bigger-container{
  display: flex;
  flex-direction: row;
}

.container{
    // order: 2;
    text-align: center;
    position: relative;
    // overflow-x: hidden;
    display: grid;
    // grid-template-columns: minmax(100%, auto);
    // grid-template-columns: 0.25fr 8fr 0.25fr;
    grid-template-rows: 500px 500px;
    // grid-template-columns: fit-content;
    // grid-template-rows: 1fr 2fr 1fr;
    // background-color: $french_laundry_blue;
    grid-template-areas:
      "active"
      "featured";

    .active-container {
        grid-area: active;
        overflow: hidden;
        grid-area: active;
    }

    .featured-container {
        grid-area: featured;
        overflow: hidden;
    }

    .next-btn{
        grid-area: next-btn;
        margin: auto;
        width: 80px;
        height: 90px;
        // padding-bottom: 60px;
    }
    
    .back-btn{
        grid-area: back-btn;
        margin: auto;
        width: 80px;
        height: 90px;
        // padding-bottom: 60px;
    }
    
    .button {
        float: left;
    }
}


p{
    padding: 0px;
    margin: 0;
}

.title {
    text-align: left;
    vertical-align: text-bottom;
    padding-left: 30px;
    margin: 0;
}

.header {
    text-align: left;
    vertical-align: text-bottom;
    padding-left: 30px;
    font-size: 30px;
    font-weight: lighter;
    color: $foreground;
    margin: 0;
    // border-bottom: 5px solid $green_main;
    // font-weight: bold;
    // font-style: italic;
}

#active_header{
    grid-area: active-header;
    margin: 0;
    padding-top: 20px;
}

#featured_header{
    grid-area: featured-header;
    margin: 0;

}

