@import "../../assets/colors";

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  // background-color: rgba(red, 0.5);
  // background-color: red;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  .modal-backdrop {
    z-index: 5;

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.5);

    &:hover {
      // background-color: red;
    }
  }

  .modal-content {
    background-color: $foreground;
    z-index: 10;

    // width: 35em;
    // padding: 3em;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &:hover {
      // background-color: red;
    }
  }
}
