@import "../../assets/colors";
@import "../../assets/dimensions";

.active-btn {
  background-color: $white;
  svg {
    path {
      fill: $highlight1;
    }
  }
}

.room-bar {
  background-color: transparent;
  display: grid;
  grid-template-columns: min-content auto auto min-content min-content min-content;
  grid-template-areas: "name tags . refresh-button more-buttons more-button ";
  grid-gap: 5px;
  align-content: center;
}

.room-name {
  grid-area: name;
  font-size: 2.5em;
  color: white;
}

.room-tags {
  grid-area: tags;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-content: center;
}

.room-tag {
  margin: 3px;
}

.refresh-button {
  grid-area: refresh-button;
  align-self: center;
}

.more-button {
  grid-area: more-button;
  align-self: center;
}

.more-buttons {
  grid-area: more-buttons;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-areas: "favorite-button settings-button";
  grid-gap: 5px;
  align-content: center;
}
