@import "../../assets/colors";
@import "../../assets/dimensions";

.room-bar-btn {
  background-color: $foreground;
  // width: 2em;
  // height: 2em;
  width: 36px;
  height: 36px;
  svg {
    path {
      fill: $highlight1;
    }
  }
  &:hover {
    svg {
      path {
        // fill: $white;
        fill: $foreground;
      }
    }
  }
}

.active-btn {
  background-color: $highlight2;
  svg {
    path {
      // fill: $white;
      fill: $foreground;
    }
  }
}

.room-bar {
  background-color: transparent;
  display: grid;
  max-inline-size: 100%;
  // grid-template-columns: max-content auto auto min-content min-content min-content;
  grid-template-columns: 1fr 5px min-content min-content min-content;
  grid-template-areas: "name . refresh-button more-buttons more-button ";
  grid-gap: 5px;
  align-content: center;
}

// .room-name {
//   grid-area: name;
//   text-transform: uppercase;
//   font-size: 2em;
//   font-weight: bold;
//   // color: white;
//   color: $foreground;
// }

.room-name {
  grid-area: name;
  background-color: transparent;
  text-transform: uppercase;
  text-overflow: ellipsis;
  width: 100%;
  outline: none;
  // max-width: 8.6em;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  // color: white;
  color: $foreground;
}

.room-name::placeholder {
  color: $foreground;
}

.room-tags {
  grid-area: tags;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-content: center;
}

.room-tag {
  margin: 3px;
}

.refresh-button {
  grid-area: refresh-button;
  align-self: center;
}

.more-button {
  grid-area: more-button;
  align-self: center;
}

.more-buttons {
  grid-area: more-buttons;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-areas: "favorite-button settings-button";
  grid-gap: 5px;
  align-content: center;
}
