@import "./assets/colors";
@import "./assets/dimensions";
@import "./assets/fonts";

.App {
  // only one of these work at a time:
  background: $bg_color;
  // background-image: $bg_gradient;

  // our base font styles (subject to change):
  // font-family: "Lato", sans-serif;
  @include main_font_stack;

  // ensures full width and height of the view with scroll support:
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;

  // ensures that each page extends fully and solves navigation issues:
  // this solution is better than using calc() and a navheight var
  // but might have issues when see have a side panel
  display: flex;
  flex-flow: column;
  height: 100%;
  & > *:not(.navbar-container) {
    flex-grow: 1;
  }
}

// removes dotted outline from link tags and other visual issues:
a,
a:link,
a:visited,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
  color: white;
}
