@import "../../assets/colors";
@import "../../assets/dimensions";

.about-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    background-color: white;
    .about-page-container {
        
    }
  }
