@import "../../assets/colors";
@import "../../assets/dimensions";

.room-list-nav-container {
  position: relative;
  display: flex;
  flex-direction: column;
  // margin: $sidebar_gutter_width 0;
  // background-color: yellow;

  .room-item {
    z-index: 1;
    margin: 0.5rem 0;
    // background-color: pink;
  }

  .indicator {
    z-index: 50;
    position: absolute;
    left: 0;
    // opacity: 0.5;

    // clip-path: polygon(0 0, 0% 100%, 20% 50%);
    // clip-path: polygon(4px 0, 10px 50%, 4px 100%, 0 100%, 0 0);

    clip-path: polygon(8% 0, 8% 40%, 15% 50%, 8% 60%, 8% 100%, 0 100%, 0 0);

    height: 40px;
    // width: 10px;
    width: 100%;
    background-color: $highlight2;

    transition: transform 200ms ease-in-out;
  }
}
