
@import "../../assets/colors";

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.display-view {
    display: flex;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
    max-height: 100%;
}

.search-page {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: max-content max-content;
    grid-template-areas:
    "    input submit     "
    "    search search    ";
}

.search-bar {
    grid-area: bar;
}

.search-input {
    grid-area: input;
    width: 800px;
    // width: 150px;
    margin: 1rem;
}

.search-submit {
    grid-area: submit;
    width: 100px;
    margin: 1rem;
    height: 2rem;
}

.search-results {
    grid-area: search;
}

.filter-button {
    margin: 0.5rem;
}

.filter-popup {
    padding: 1rem;
    background-color: $foreground2;
    background-color: $foreground;
  
    display: flex;
    flex-direction: column;
  
    border-radius: 0.2rem;
  
    #chat-color-btn {
      margin-top: 1rem;
      border-radius: 6px;
    }
}

.loader {
    width: 500px;
    height: 500px;
}

.filter-selector-container {
    .filter-selector {
        width: 100%;
        background-color: white;
        color: $highlight1;
        &:hover {
            background-color: $highlight1;
            color: white;
          }
    }
}