@import "../../assets/colors";
@import "../../assets/dimensions";

.profile-picture {
    grid-area: upload;
    height: 200px;
    width: 100%;
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }
  }