@import "../../assets/colors";
@import "../../assets/dimensions";

.profile {
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: red;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  .general-container {
    display: flex;
    flex-direction: row;
    position: absolute;
  }

  .profile-picture {
    grid-area: profpic;
    // position: absolute;

    justify-self: center;
    height: 200px;
    width: 100%;
    margin-left: 75px;
    img {
      border: 2px solid $highlight1;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      justify-self: center;
    }
  
    // background-color: white;
  }

  .username-title {
    grid-area: username;
    // position: absolute;
    // margin-left: 250px;
    // margin-top: 30px;
    // justify-content: center;
    justify-self: center;
    font-weight: bold;
    font-size: 50px;

  }
  .bio {
    grid-area: bio;
    font-size: 25px;
    font-weight: normal;
    // display: inline;
    justify-self: center;
    // margin-left: 20px;
  }
  .profile-buttons {
    position: absolute;
    z-index: 3;
    margin-left: 175px;
    margin-top: 10px;
    display: inline-block;
    input[type="file"] {
      display: none;
    }
  }
}

.profile-show {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  // grid-template-rows: minmax(5em, 1fr) auto minmax(5em, 1fr);
  grid-template-rows: minmax(0.25fr, 0.5fr) minmax(0.25fr, 0.5fr) minmax(0.25fr, 0.5fr) repeat(3, auto);
  grid-template-areas:
    "profpic username fav"
    "profpic bio fav"
    "profpic tags fav"
    ". . ."
    "subs subs subs"
    "owned owned owned";
  // grid-gap: 1rem;
  margin-top: 25px;
  align-items: center;
  // justify-items: center;

  // width: 1200px;
  // height: 800px;
}

.profile-show {
  grid-column: 1 / end;
  grid-row: 2 / end;
  background-color: white;
}

.profile-hide {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: minmax(5em, 1fr) auto minmax(5em, 1fr);
  grid-template-areas:
    ". . ."
    ". private ."
    ". . .";
  margin-top: 100px;
  width: 1200px;
  height: 600px;
  // justify-content: center;
  align-items: center;
  justify-items: center;

  .private-icon {
    width: 200px;
    height: 200px;
  }
  .private-text {
    text-align: center;
  }
}

.private-user {
  grid-area: private;
}




.profile-tags {
  grid-area: tags;
  justify-self: center;
  // margin-top: 10px;
  font-size: 25px;
}

.subscribed-rooms {
  grid-area: subs;
}
.subscribed-title {
  font-size: 25px;
  margin-left: 38%;
}
.owned-title {
  font-size: 25px;
  margin-left: 38%;
}
.owned-rooms {
  grid-area: owned;
}
.profile-biography {
  grid-area: bio;
}
.profile-favorites {
  grid-area: fav;
  // margin-top: 100px;
}
// .message-bubble {
//   grid-area: bio;
//   width: 300px;
//   height: 100px;
// }
.profile-details-form {
  margin-top: 250px;
}
