$green-main: #50d19e;
$black-main: #353744;

$black: #000000;
$black-thunder: #231f20; //black-thunder

$gray: #353c4a;
$gray-nobel: #b7b7b7; //gray-nobel
$gray-alto: #d9d9d9; //gray-alto

$white: #ffffff;
$white-wildsand: #f5f5f5; //wild sand

$red: #bf616a;
$red-cinnabar: #e9524a; //vibrant

$yellow: #ebcb8b;
$yellow-kournikova: #ffe96f; //vibrant

$green: #a3be8c;
$green-shamrock: #50d19e; //vibrant

$bggradient: linear-gradient(
  60deg,
  rgba(143, 185, 168, 1) 0%,
  rgba(118, 93, 105, 1) 100%
);

$btngradient: linear-gradient(
  60deg,
  rgb(0, 255, 153) 0%,
  rgb(5, 228, 161) 100%
);
