// naming convention:
// with underscore "_" because its easier to double click and delete/copy-paste and is more readable

$navbar_height: 3.5em;

$btn_height: 40px;
$edge_radius: 5px;

$circle_btn_dimension: 40px;
