@import "../../assets/colors";
@import "../../assets/dimensions";

.page-dropdown-container {
  background-color: $foreground; // black5
  width: 9em;
  padding: 1em;

  

  display: grid;
  grid-template-columns: 1fr;
  // flex-direction: column;
  // justify-content: center;
  grid-gap: 0.5em;

  .text {
    
    background-color: $light_gray; // black6
    box-sizing: border-box;
    height: 1.5em;
    padding: 0 0.5em;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    // font-weight: bold;
    color: $highlight1;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    transition-duration: 300ms;
    transition-property: border-right;

    &:hover {
      border-right: 1.5em solid $highlight2;
    }
  }

  .gap {
    // margin-bottom: 0.5em;
  }
}
