@import "../../assets/colors";
@import "../../assets/dimensions";

@mixin sent-msgs {
  background-color: $gray_material_ui;
  color: $highlight1;
  padding: 0.2em 0.5em;
  border-right: 5px solid $highlight1;
}

@mixin received-msgs {
  background-color: $gray_material_ui;
  color: $highlight1;
  padding: 0.2em 0.5em;
  border-left: 5px solid $highlight2;
}

.message-container {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  width: fit-content;
  color: $foreground;
  margin: 5px 0;

  display: flex;
  flex-direction: column;

  .msg-info-container {
    display: flex;

    .msg-sender {
      background-color: $gray_material_ui;
      color: $highlight1;
      padding: 0.2em 0.5em;

      font-weight: bold;
    }

    .msg-timestamp {
      color: $highlight1;
      padding: 0.2em 0.5em;
    }

    .sent-msgs {
    }

    .received-msgs {
    }
  }

  .msg-text {
    background-color: $gray_material_ui;
    color: $highlight1;
    padding: 0.2em 0.5em;
  }
}

.border-left {
  border: none;
  border-left: 5px solid $highlight2;
}

.border-right {
  border: none;
  border-right: 5px solid $highlight1;
}

.flex-row-reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.flex-row {
  flex-direction: row;
}

.bgc-sent {
  background-color: $gray_material_ui;
}

.bgc-rec {
  background-color: $gray_material_ui;
}

.align-right {
  align-self: flex-end;
}

.align-left {
  align-self: flex-start;
}
