@import "../../assets/colors";
@import "../../assets/dimensions";

.center {
  display: flex;
  justify-content: center;
}

.room-page {
  // margin: 0 auto;
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: 2em min-content 2em max-content auto;
  grid-template-areas:
    "    .     "
    " room-bar "
    "    .     "
    "room-screen"
    "     .     ";
}

.room-bar-area {
  grid-area: room-bar;
}

.room-screen-area {
  grid-area: room-screen;
  // display: flex;
  // justify-self: center;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto min-content;
  grid-template-areas:
    " . . "
    " . overlay ";
  height: 720px;
  width: 1280px;
  background-color: $white;
  // background-color: rgba(101, 149, 158, 0.3);
}

.browser-overlay {
  grid-area: overlay;
  color: $french_laundry_blue;
  // height: 100%;
  width: 100%;
  margin-bottom: 5px;
  // padding: 5px;
  // display: grid;
}

.hide {
  height: 100%;
  width: 100%;
  // display: none;
  cursor: none;
}

@media (max-width: 1480px) {
  .room-screen-area {
    height: 480px;
    width: 854px;
  }
}

@media (max-width: 1250px) {
  .room-screen-area {
    height: 360px;
    width: 640px;
  }
}

@media (max-width: 1050px) {
  .room-screen-area {
    height: 240px;
    width: 426px;
  }
}
