@import "../../assets/colors";


.cards-carousel-wrapper {
    display: flex;
    overflow-x: hidden; //makes sure there will never be a horizontal scroll
    position: absolute; //offsets based on card active is set to
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    padding: 15px;
    height: 100%;
    // margin: auto;
    .card {
        flex: 1; //cards are in one row
        // min-width: 200px;
        margin-right: 30px;
    }
}
.cards-grid {
    margin: 30px;
    justify-content: center;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    .card {
        flex: 1; //cards are in one row
        // min-width: 200px;
        margin: 20px;
    }
}
.cards-carousel {
    position: relative;
    // max-width: 100%;
    // max-height: 100%;
    // max-width: 226px;
    // margin: auto;
}
.img-container {
    width: 230px;
    height: 150px;
    overflow: hidden;
    position: relative;
}
.card {
    // outline: 2px $greenmain solid;
    transition: all 0.3s linear;
    cursor: pointer;
    background-color: $blacklight;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 230px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: 5px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .description-container {
        padding: 2px 16px;
        color: $blackdark;
    }
    
    .features {
        list-style: none;
        padding: 0;
        margin: 0;

    }
}
  
.zoom:hover {
-ms-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.1); 
}