@import "../../assets/dimensions";
@import "../../assets/colors";

@mixin font {
  display: flex;
  justify-content: center;

  // font-weight: bold;
  color: $highlight1;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.newroom-container {
  // box-sizing: border-box;
  // background-color: $navbar_color;
  // background-color: $foreground;

  // border: 5px solid red;
  // box-shadow: $default_box_shadow;

  width: 23rem;
  padding: 2rem;
  background-color: $foreground;
  border-radius: 6px;

  .header {
    margin: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    // letter-spacing: 0.05em;
    color: $highlight1;
    padding: 0;
  }

  .form-container {
    // width: 100%;

    display: flex;
    flex-direction: column;

    .field-spacing-bottom {
      margin-bottom: 1rem;
    }

    .field-spacing-top {
      margin-top: 1rem;
    }

    .privacy {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 1px;
        text-transform: uppercase;

        font-size: 0.9rem;

        font-weight: bold;
        color: $highlight1;

        letter-spacing: 0;
      }

      select {
        background-color: $light_gray;
        height: 2.5rem;

        font-family: "Karla", sans-serif;
        font-weight: bold;
        font-size: 1rem;

        color: $highlight1;

        padding: 0 0.5rem;
        border: none;
        border-radius: 2px;

        outline: none;

        &:focus {
          box-shadow: $default_box_shadow;
        }

        option {
          font-family: "Karla", sans-serif;
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }

    .new-room-btn {
      width: 100%;
      margin-top: 1.5rem;
    }
  }
}
