@import "../../assets/dimensions";
@import "../../assets/colors";

@mixin font {
  display: flex;
  justify-content: center;

  // font-weight: bold;
  color: $highlight1;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.newroom-container {
  box-sizing: border-box;
  // background-color: $navbar_color;
  // background-color: $foreground;

  // border: 5px solid red;
  // box-shadow: $default_box_shadow;

  width: 15em;
  padding: 1em;

  .header {
    margin-bottom: 0.5em;
    // background-color: transparent;
    height: 2em;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $highlight1;
    padding: 0;
  }

  .form-container {
    // width: 100%;

    display: flex;
    flex-direction: column;

    .field-spacing-bottom {
      margin-bottom: 0.5em;
    }

    .field-spacing-top {
      margin-top: 1em;
    }

    .new-room-title {
    }

    .new-room-size {
    }

    .privacy {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 4px;
        text-transform: uppercase;

        font-size: 13px;
        font-weight: bold;
        color: $highlight1;

        letter-spacing: 0;
      }

      select {
        background-color: $light_gray;
        height: 2em;

        font-family: "Karla", sans-serif;
        font-weight: bold;
        font-size: 0.9em;
        color: $highlight1;

        padding: 0 0.5em;
        border: none;
        border-radius: 2px;

        outline: none;

        &:focus {
          box-shadow: $default_box_shadow;
        }

        option {
          font-family: "Karla", sans-serif;
          font-size: 1em;
          font-weight: bold;
        }
      }
    }

    .new-room-btn {
      grid-area: new-room-submit-btn;
      width: 100%;
      margin-top: 1.5em;
    }
  }
}
