@import "../../assets/dimensions";
@import "../../assets/colors";

@mixin font {
  display: flex;
  justify-content: center;

  // font-weight: bold;
  color: $highlight1;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.newroom-container {
  box-sizing: border-box;
  // background-color: $navbar_color;
  background-color: $white;

  // border: 5px solid red;
  // box-shadow: $default_box_shadow;

  width: 15em;
  padding: 1em;

  .header {
    margin-bottom: 0.5em;
    background-color: $foreground;
    height: 2em;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .form-container {
    // width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.8em;

    grid-template-areas:
      "room-title"
      "room-size"
      "privacy"
      "new-room-submit-btn";

    .room-title {
      grid-area: room-title;
    }

    .room-size {
      grid-area: room-size;
    }

    .privacy {
      grid-area: privacy;

      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 4px;
        text-transform: uppercase;

        font-size: 13px;
        font-weight: bold;
        color: $highlight1;

        letter-spacing: 0;
      }

      select {
        background-color: $light_gray;
        height: 2em;

        font-family: "Karla", sans-serif;
        font-weight: bold;
        font-size: 0.9em;
        color: $highlight1;

        padding: 0 0.5em;
        border: none;
        border-radius: 2px;

        option {
          font-family: "Karla", sans-serif;
          font-size: 1em;
          font-weight: bold;
        }
      }
    }

    .new-room-btn {
      grid-area: new-room-submit-btn;
      width: 100%;
      margin-top: 1.5em;
    }
  }

  // .toggle-container {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;
  //   margin-bottom: 1em;
  //   svg:nth-child(1) {
  //     width: 10px;
  //     path {
  //       fill: $white;
  //     }
  //   }

  //   .values {
  //     padding: 0 1em;
  //     @include font;
  //     font-size: 15px;
  //     text-transform: lowercase;
  //     font-weight: 100;
  //   }

  //   svg:nth-child(3) {
  //     width: 10px;
  //     path {
  //       fill: $white;
  //     }
  //   }
  // }
}
