@import "../../assets/dimensions";
@import "../../assets/colors";

.poppity-container {

  .pop-up-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 0;

    .triangle {
      margin-top: 0.5em;
      width: $circle_btn_dimension;

      z-index: 50;

      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 1.5em;
        path {
          fill: $highlight1;
        }
      }
    }

    .dropdown-container {
      margin-top: 0.5em;

      box-shadow: $strong_box_shadow;
      border-top: 8px solid $highlight1;

      position: absolute;
      box-sizing: border-box;

      background: $white;
      width: auto;
      height: auto;
      
      top: 10px;
      z-index: 10;
      border-radius: 3px;
    }

    .align-center {
      transform: translate(-43%, 0);
    }

    .align-left {
      left: 0;
    }

    .align-right {
      right: -2em;
    }
  }

  .disabled {
    display: none;
    svg {
      display: none;
    }
  }
}
