@import "../../assets/colors";
@import "../../assets/dimensions";

.chat-container {
  background-color: lightblue;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .chat-header-container {
    background-color: $highlight1;
    padding: 1em 0;
    width: 100%;

    font-family: "Karla", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: $foreground;

    display: flex;
    justify-content: center;
  }
}
