@import "../../assets/colors";

@keyframes spin {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}

.home-search-bar-container {
  background-color: $foreground2;
  background-color: $foreground;

  // background-color: lightgreen;
  height: 2.5rem;
  width: 20rem;

  border-radius: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  a {
    // background-color: blue;
    cursor: pointer;
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      // animation: spin 1s infinite linear;
      margin: 0 0.5rem;
      // background-color: red;
      path {
        fill: $highlight1;
      }
    }
    &:hover {
      svg {
        path {
          fill: $highlight2;
        }
      }
    }
  }

  #home-btn {
    svg {
      transform: rotate(45deg);

      path {
        // transform: rotate(45deg);
      }
    }

    &:hover {
      svg {
        // background-color: red;
        animation: spin 1s infinite linear;
        path {
          // transform: rotate(45deg);
          // animation: spin 1s infinite linear;
        }
      }
    }
  }

  .search-input-container {
    // background-color: green;
    position: relative;
    flex-grow: 1;

    .search-input-label {
      position: absolute;
      top: 0;
      left: 0;

      font-family: "Karla", sans-serif;
      text-transform: uppercase;
    }

    .search-input {
      background-color: $foreground;
      height: 100%;
      width: 100%;

      border: none;
      font-family: "Karla", sans-serif;
      font-size: 1rem;
      color: black;

      // font-weight: bold;
      // text-transform: uppercase;
      // padding: 0 0.5rem;
      &:focus {
        outline: none;
      }

      &::placeholder {
        text-transform: uppercase;
        color: black;
      }
    }
  }

  &:focus-within {
    // box-shadow: 0px 0px 3px 2px rgba(white, 0.2);
    box-shadow: 0px 0px 0px 3px rgba(rgb(207, 207, 207), 1);
  }
}
