@import "../../../assets/colors";
@import "../../../assets/dimensions";

@mixin item-border {
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid $highlight1;
}

.role-management-panel {
  background-color: white;
}

.role-management-boxes {
  border: 1px solid $highlight1;
}
