@import "../../../assets/colors";
@import "../../../assets/dimensions";

@mixin card-margins {
  margin-top: 15px;
  margin-bottom: 15px;
}

// .role-management-panel {
//   background-color: white;
// }

.role-management-panel-title {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.role-management-boxes {
  @include card-margins;
  // border: 1px solid $highlight1;
}

.role-management-boxes-title {
  flex-basis: 33.33%;
  flex-shrink: 0;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
}

.role-management-boxes-description {
  font-size: 0.9em;
}
