@import "../../../assets/colors";

// .search-container {
  .search-card {
    // outline: 2px $greenmain solid;
    transition: all 0.3s linear;
    cursor: pointer;
    background-color: $foreground;
    width: 800px;
    min-width: 800px;
    height: 180px;
    min-height: 180px;

    text-align: center;
    margin: 10px;
    overflow: hidden;
    position: relative;
    // border-radius: 5px;

    display: grid;
    grid-template-columns: min-content;
    grid-auto-rows: minmax(25px, auto);
    grid-template-areas: "thumbnail content";
    grid-gap: 20px;

    &:hover {
      // background-color: $highlight2;
      // transform: scale(1.005);
      // webkit-filter: blur(1px); /* Chrome, Safari, Opera */
      // filter: blur(1px);
      opacity: 0.50;
    }
    
    .buttons-container {
      position: absolute;
      z-index: 2;
      // padding-left: 85%;
      margin-left: 95%;
      opacity: 1;
      .room-card-buttons {
        width: 2rem;
        height: 2rem;
        // color: green;
        // color: #d0f4de;
        color: #98c9a3;
        // margin: 1rem;
      }
      .svg {
        width: 200px;
        height: 200px;
      }
    }

  }

  // .enter-button {
  //   position: absolute;
  //   width: 10rem;
  //   margin-left: 22%;
  //   margin-top: 5%;
  //   color: green;
  //   outline-color: green;
  //   // margin: 10rem;
  //   z-index: 10;
  // }
// }

.room-thumbnail {
  grid-area: thumbnail;
  width: 300px;
  // height: 175px;
  justify-content: center;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 25%;
  }
}

.content {
  grid-area: content;
  position: relative;
  box-sizing: border-box;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-areas:
    "title"
    "owner"
    "occupancy"
    "tags";
  height: 180px;
  min-height: 180px;
}

.room-name-title {
  grid-area: title;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.owner {
  grid-area: owner;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-areas: "avatar username";
  grid-gap: 30px;
}

.user-thumbnail {
  grid-area: avatar;
  position: absolute;
  height: 20px;
  width: 100%;
  text-align: left;
  // margin-left: 25px;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.username {
  grid-area: username;
  text-align: left;
}

.people {
  grid-area: occupancy;
  text-align: left;
}

.tags {
  grid-area: tags;
  text-align: left;
}


