@import "../../../assets/colors";

.search-card {
    // outline: 2px $greenmain solid;
    transition: all 0.3s linear;
    cursor: pointer;
    background-color: $foreground;
    width: 800px;
    height: 180px;
    text-align: center;
    margin: 10px;
    overflow: hidden;
    position: relative;
    // border-radius: 5px;

    display: grid;
    grid-template-columns: min-content;
    grid-auto-rows: minmax(25px, auto);
    grid-template-areas: 
    "thumbnail content";
    grid-gap: 20px;
    
}

.room-thumbnail {
    grid-area: thumbnail;
    width: 300px;
    // height: 175px;
    justify-content: center;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: 25%;
    }
}

.content {
    grid-area: content;
    position: relative;
    box-sizing: border-box;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas: 
    "title"
    "owner"
    "occupancy"
    "tags"
}

.room-name-title {
    grid-area: title;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.owner {
    grid-area: owner;
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-areas: 
    "avatar username";
    grid-gap: 30px;
}

.user-thumbnail {
    grid-area: avatar;
    position: absolute;
    height: 20px;
    width: 100%;
    text-align: left;
    // margin-left: 25px;
    img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      object-fit: cover;
    }
}

.username {
    grid-area: username;
    text-align: left;
    
}

.people {
    grid-area: occupancy;
    text-align: left;
}

.tags {
    grid-area: tags;
    text-align: left;
}

.buttons-container {
    position: absolute;
    z-index: 2;
    // padding-left: 85%;
    margin-left: 94%;
    opacity: 1;
    .room-card-buttons {
        width: 36px;
        height: 36px;
        margin: 5px;
    }
    .svg {
        width: 200px;
        height: 200px;
    }
}