@import "../../assets/_colors.scss";
@import "../../assets/_dimensions.scss";

@mixin shrinkLabel {
  top: -1.15rem;

  left: 0.1rem;

  font-size: 0.9rem;

  font-weight: bold;
  color: $highlight1;

  letter-spacing: 0;

  // letter-spacing: auto;
}

.input-field {
  position: relative;
  outline: none;
  margin-top: 1rem;

  .form-input {
    background-color: $light_gray;
    // height: 2em;
    height: 2.5rem;

    width: 100%;
    box-sizing: border-box;
    padding: 0 0.5rem;

    font-family: "Karla", sans-serif;
    font-weight: bold;
    color: $highlight1;
    font-size: 1rem;

    border: none;
    border-radius: 2px;

    &:focus {
      outline: none;
      // border: 1px solid $light_gray;
      border: 1px solid lightgray;

      box-shadow: $light_box_shadow;
    }

    &:focus-within {
      // background-color: white;
      outline: none;
    }

    &:focus ~ .form-input-label {
      outline: none;
      @include shrinkLabel();
    }

    &:required {
      outline: none;
      color: $soft_red;
    }

    &:invalid {
      outline: none;
      color: $soft_red;
    }

    &:valid {
      outline: none;
      box-shadow: 0 0 5px $lg_lightblue;
      color: $highlight1;
    }
  }

  input[type="password"] {
    letter-spacing: 0.1rem;
  }

  .form-input-label {
    text-transform: uppercase;
    color: $highlight1;

    font-size: 1.1rem;

    font-weight: normal;
    letter-spacing: 0.05rem;

    position: absolute;
    pointer-events: none;
    left: 0.6rem;
    top: 0.55rem;

    transition-property: top, left, font-size, font-weight, color,
      letter-spacing;
    transition-duration: 200ms;
    transition-timing-function: ease;

    &.shrink {
      @include shrinkLabel();
    }
  }

  .visibility-container {
    cursor: pointer;

    height: 100%;

    margin-right: 0.5rem;

    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      background-color: $gray_form_input;
      path {
        fill: $highlight1;
      }
    }

    &:hover {
      svg {
        path {
          fill: $highlight2;
        }
      }
    }
  }
}
