@import "../../assets/_colors.scss";
@import "../../assets/_dimensions.scss";

@mixin shrinkLabel {
  top: -1.45em;
  left: 0.1em;

  font-size: 13px;
  font-weight: bold;
  color: $highlight1;

  letter-spacing: 0;

  // letter-spacing: auto;
}

.input-field {
  position: relative;
  outline: none;
  margin-top: 1em;

  .form-input {
    background-color: $light_gray;
    height: 2em;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.5em;

    font-family: "Karla", sans-serif;
    font-weight: bold;
    color: $highlight1;
    font-size: 0.9em;

    border: none;
    border-radius: 2px;

    &:focus {
      outline: none;
      // border: 1px solid $light_gray;
      border: 1px solid lightgray;

      box-shadow: $light_box_shadow;
    }

    &:focus-within {
      // background-color: white;
      outline: none;
    }

    &:focus ~ .form-input-label {
      outline: none;
      @include shrinkLabel();
    }

    &:required {
      outline: none;
      color: $soft_red;
    }

    &:invalid {
      outline: none;
      color: $soft_red;
    }

    &:valid {
      outline: none;
      box-shadow: 0 0 5px $lg_lightblue;
      color: $highlight1;
    }
  }

  input[type="password"] {
    letter-spacing: 0.1em;
  }

  .form-input-label {
    text-transform: uppercase;
    color: $highlight1;

    font-size: 0.9em;
    font-weight: normal;
    letter-spacing: 0.05em;

    position: absolute;
    pointer-events: none;
    left: 0.5em;
    top: 0.4em;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }

  .visibility-container {
    cursor: pointer;

    height: 1.8em;
    width: 1.8em;

    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      background-color: $gray_form_input;
      path {
        fill: $highlight1;
      }
    }
  }
}
