@import "../../assets/colors";
@import "../../assets/dimensions";
.logo-section {
  grid-area: logo;

  // temp logo:
  display: flex;
  justify-content: flex-start;
  align-items: center;

  cursor: pointer;

  p {
    font-family: "Alatsi";
    margin: 0 5px 0 0;
    // font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $foreground;
  }

  .circle-btn {
    background-color: $soft_red;
    text-transform: uppercase;
    color: $foreground;

    &:hover {
      background-color: $foreground;
      .text {
        color: $highlight2;
      }
    }
  }
}

.room-nav {
  flex-grow: 1;
  // background-color: red;
  height: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
}
