@import "../../assets/colors";
@import "../../assets/dimensions";

.cards-carousel-wrapper {
    display: flex;
    overflow-x: hidden; //makes sure there will never be a horizontal scroll
    position: absolute; //offsets based on card active is set to
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    padding: 15px;
    height: 100%;
    // margin: auto;
    position: relative;

}
.card {
    flex: 1; //cards are in one row
    // min-width: 200px;
    margin-right: 30px;
}