@import "../../assets/colors";
@import "../../assets/dimensions";

.carousel-container {
    width: 1200rem;
    margin: 1rem;
}

@media (min-width: 145rem) {
    .carousel-container {
        width: 100rem;
    }
}

@media (max-width: 144rem) {
    .carousel-container {
        width: 80rem;
    }
}

@media (max-width: 100rem) {
    .carousel-container {
        width: 60rem;
    }
}

@media (max-width: 80rem) {
    .carousel-container {
        width: 40rem;
    }
}