@import "../../assets/colors";
@import "../../assets/dimensions";

.friendslist-header {
  position: relative;

  width: 100%;
  height: 100%;

  margin: 0 $sidebar_gutter_width;

  // height: $header_size;
  // background-color: purple;

  display: flex;
  // justify-content: space-evenly;
  justify-content: center;

  align-items: center;

  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;

  // background-color: red;

  .friendslist-title {
    flex-grow: 1;

    display: flex;
    justify-content: center;
  }

  .add-friend-override {
    flex-grow: 1;
    height: 100%;

    clip-path: polygon(0 0, 0 49%, 0 100%, 100% 100%, 100% 0);
    background-color: $foreground2;
  }

  #header-add-friend-btn {
    background-color: transparent;

    svg {
      path {
        fill: $highlight1;
      }
    }

    &:hover {
      svg {
        path {
          fill: $highlight2;
        }
      }
    }
  }

  .hidden {
    display: none;
  }
}
