@import "../../assets/colors";
@import "../../assets/dimensions";

.custom-tab-nav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

.drawer-header-container {
  // background-color: red;
  height: 48px;
  width: 100%;

  position: relative;

  z-index: 2000;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 500ms;

  .drawer-header {
    // background-color: lightblue;
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
  }
}

.bg-close {
  background-color: white;
}

.bg-open {
  background-color: #eceff1;
}
