@import "../../assets/_colors.scss";
@import "../../assets/_dimensions.scss";

.custom-button {
  background-color: $french_laundry_blue;
  // background: $lg_lightblue;

  min-width: 5em;
  width: auto;
  height: $btn_height;
  padding: 0;
  box-sizing: border-box;

  font-family: "Karla";
  font-weight: bold;
  color: white;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: $edge_radius;
  border-radius: 3em;

  box-shadow: $default_box_shadow;
  // box-shadow: $strong_box_shadow;

  border: none;
  cursor: pointer;

  transition-duration: 200ms;
  transition-property: background-color;

  &:focus {
    outline: 0;
  }

  &:hover {
    // box-shadow: inset 0 -5px 0 0 $highlight2;
    background: $highlight2;
    // color: black;
  }
}
