@import "../../assets/_colors.scss";
@import "../../assets/_dimensions.scss";

.custom-button {
  background-color: $highlight1;

  min-width: 5rem;
  width: auto;
  height: $btn_height;
  padding: 0;
  box-sizing: border-box;

  font-family: "Karla";
  font-weight: bold;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: $edge_radius;
  border-radius: 3rem;

  // box-shadow: $default_box_shadow;
  // box-shadow: $strong_box_shadow;

  border: none;
  cursor: pointer;

  transition-duration: 200ms;
  transition-property: background-color;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: $highlight2;
  }
}
