@import "../../../assets/colors";
@import "../../../assets/dimensions";

.user-rooms-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .search-input {
        display: flex;
        margin: 1rem;
        width: 10rem;
        align-self: right;
    }
    
    .user-rooms-container {
        width: 80rem;
    }


    @media (min-width: 145rem) {
        .user-rooms-container {
            width: 100rem;
        }
    }
    
    @media (max-width: 144rem) {
        .user-rooms-container {
            width: 80rem;
        }
    }
    
    @media (max-width: 100rem) {
        .user-rooms-container {
            width: 60rem;
        }
    }
    
    @media (max-width: 80rem) {
        .user-rooms-container {
            width: 50rem;
        }
    }
}