@import "../../assets/colors";
@import "../../assets/dimensions";

@keyframes forward-spin {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes backward-spin {
  0% {
    transform: rotate(360deg);
  }
  90% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

.img-btn-container {
  width: $circle_btn_dimension;
  height: $circle_btn_dimension;
  position: relative;
  cursor: pointer;
  margin: 0 5px;

  img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .icon-hover {
    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    position: absolute;
    top: 0;
    right: 0;

    height: 100%;
    width: 100%;

    animation-name: backward-spin;
    animation-duration: 300ms;
    animation-fill-mode: forwards;

    svg {
      path {
        fill: $foreground;
      }
    }
  }

  &:hover .icon-hover {
    animation-name: forward-spin;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
  }
}
