@import "../../assets/colors";

$avatar_size: 40px;

.user-avatar-container {
  cursor: pointer;

  width: $avatar_size;
  height: $avatar_size;

  min-width: $avatar_size;
  min-height: $avatar_size;
  // border-radius: 50%;
  position: relative;
  // background-color: $highlight2;

  img {
    // border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .online-status {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
  }

  .online {
    background-color: rgb(38, 202, 120);
  }

  .offline {
    background-color: rgb(255, 58, 58);
  }

  .circle {
    border-radius: 50%;
  }
}
