@import "../../assets/colors.scss";
@import "../../assets/dimensions.scss";

.login-container {
  .form-container {
    background-color: $lr_color;
    height: auto;
    width: 15em;

    display: grid;
    grid-template-columns: minmax(100px, auto);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "email"
      "password"
      "loginbtn"
      "glogin-btn"
      "forgot-pw";

    .email-field {
      grid-area: email;
      margin-bottom: 1em;
    }

    .password-container {
      grid-area: password;
      grid-template-columns: minmax(100px, auto);
      grid-template-rows: repeat(1, auto);
      grid-template-areas:
      "pw sh-btn";

      .input-field {
          width: 100%;
          display: inline-block;
          grid-area: pw;
        .password-field {
          margin-bottom: 1em;
        }   
      } 
      .circle-btn{
          grid-area: sh-btn;
          display: inline-block;
          position: absolute;
          background-color: transparent;
          padding: 10px;
          padding-top: 25px;
          svg {
              path {
                  fill: $green_main;
                }
            }
        }
  }

    .login-btn {
      grid-area: loginbtn;
      margin-bottom: 1em;
    }

    .google-login-btn {
      grid-area: glogin-btn;
      margin-bottom: 1em;

      svg {
        width: 1.5em;
        margin-right: 0.5em;
      }
    }

    .forgot-pw {
      grid-area: forgot-pw;
      text-decoration: upper-case;
      color: white;
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      text-align: center;
    }

  }
}
