@import "../../assets/colors.scss";
@import "../../assets/dimensions.scss";

.login-container {
  display: flex;
  flex-direction: column;
  width: 20rem;

  background-color: $foreground;

  .playful-cat {
    align-self: center;
    width: 8rem;
    height: fit-content;
  }

  .login-title {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .form-container {
    // height: auto;
    // width: 15em;

    display: flex;
    flex-direction: column;
    // background-color: red;

    .email-field {
      // margin-bottom: 1em;
    }

    .password-container {
      position: relative;
      // background-color: lightblue;
    }

    .login-btn {
    }

    // .google-login-btn {
    //   svg {
    //     width: 1.5em;
    //     margin-right: 0.5em;
    //   }
    // }

    .forgot-pw {
      text-decoration: upper-case;
      color: $highlight1;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }

    .field-spacing-bottom {
      margin-bottom: 1em;
    }

    .field-spacing-top {
      margin-top: 1em;
    }
  }
}
