@import "../../assets/colors";

@mixin tab-properties {
  flex-grow: 1;
  height: 100%;
  // box-sizing: border-box;
  background-color: #1f1f1f;

  transition-duration: 200ms;
  transition-property: box-shadow;
  line-height: 2.9em;

  &:hover {
    box-shadow: inset 0 5px 0 0 $green-main;
  }
}

.login-register-panel {
  background-color: $lr_color;

  width: auto;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 1em;
  justify-items: center;

  grid-template-areas:
    "options"
    "logo"
    "mainfields";

  border-radius: 5px;

  .tab-options {
    grid-area: options;
    width: 100%;
    height: 2em;
    // margin-bottom: 1em;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    .login-tab-btn {
      @include tab-properties;
      border-radius: 5px 0 0 0;
    }

    .register-tab-btn {
      @include tab-properties;
      border-radius: 0 5px 0 0;
    }
    .tabselected {
      background-color: $lr_color;
    }
  }

  .logo-area {
    grid-area: logo;
  }

  .fields {
    grid-area: mainfields;
    margin: 0 2em 2em 2em;
  }
}
