@import "../../assets/colors.scss";

.register-container {
  .form-container {
    background-color: $foreground;
    height: auto;
    width: 15em;

    display: flex;
    flex-direction: column;

    .username-field {
    }

    .email-field {
    }

    .password-field {
    }

    .confirm-password-field {
    }

    .register-btn {
    }

    .field-spacing-bottom {
      margin-bottom: 0.5em;
    }

    .field-spacing-top {
      margin-top: 1em;
    }
  }
}
